.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  height: 100vh;
  outline: 4px dotted dodgerblue;
  position: sticky;
  text-align: center;
  top: 0;
}

.one, .two, .three, 
.four, .five, .six, .seven {
  align-content: center;
  position: relative;
  width: 100%;
}

.one {
  background-color: cadetblue;
}

.two {
  background-color: aqua;
}

.three {
  background-color: chocolate;
}

.four {
  background-color: chartreuse;
}

.five {
  background-color: cyan;
}

.six {
  background-color: greenyellow;
}

.seven {
  background-color: blanchedalmond;
}